body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #662d91;
    background-color: #f2f2f2;
    margin: 0;
}

header nav {
    background-color: #202124;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    overflow: hidden;
    margin-right: 25px;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    display: block;
    padding: 20px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17.5px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #662d91;
}

.barra-nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1265px;
}

.logo {
    padding-top: 3px;
    width: 70px;
    height: 50px;
    border: none;
}

.banner{
    padding-top: 92px;
}

.banner img {
    width: 1262px;
    height: 500px;
    padding: none;
    box-shadow: none;
}

.historia {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 105px;
    border-bottom: #202124 solid;
}

.mision {
    padding-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 245px;
    border-bottom: #202124 solid;
}

.vision {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 330px;
}

div h2 {
    font-size: 27px;
    text-align: center;
}

p {
    text-align: left;
    text-align: justify;
    font-size: 17px;
}

.img1 {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 75px;
}

.info1 {
    text-align: right;
}

.img2 {
    float: right;
    width: 300px;
    height: 300px;
    margin-left: 75px;
}

.info2 {
    text-align: left;
}

section img {
    box-shadow: #deea0b 0.5px 0.5px 1px 1px;
}

.footer-sencillo {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-sencillo .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-sencillo p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-sencillo p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-sencillo .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-sencillo .footer-links .link-1:before {
    content: none;
  }
  
  .footer-sencillo p.footer-links a:hover{text-decoration:underline;}