body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    height: 100vh;
}

h1 {
    letter-spacing: 3px;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 27px;
}

.titulo {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: solid  rgba(60,160,63,1);
    font-size: 35px;
}

.banner{
    width: 90%;
    height: 10%;
    padding: none;
    border: solid  rgba(60,160,63,1);
}

.img_table {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.table1{
    margin: 20px;
    margin-right: 40px;
    padding: auto;
    border-spacing: 1.5cm;
    background: linear-gradient(rgba(199, 77, 247, 0.75), rgba(161, 255, 169, 0.75));
    float: left;
    align-items: center;
    width: 10%;
    height: 70%;
    border-radius: 15px;
    border: 2px solid beige;
    box-shadow: 0 0 10px rgb(109, 107, 107);
}

.t1{
    padding: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-spacing: 10cm;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    background: white;
    color: rgb(114, 12, 155);
    text-shadow: 2px 3px 10px rgb(114, 12, 155);
    font-style: italic;
}

.table1:hover{
    background: linear-gradient(rgb(118, 255, 123),  #cf91ff);
}

.table2{
    margin: 20px;
    background: linear-gradient(90deg, #c08de7, rgb(148, 241, 151)); 
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 10px;
    vertical-align: top;
    box-shadow: 5px 5px 10px rgb(88, 87, 87);
    border-style:inset;
}

td{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
 }

.encabezado{
    color: black;
    text-transform:uppercase;
    font-size: medium;
    text-align: center;
}

.nombre{
    width: 3%;
}

.descripcion{
    width: 10%;
    padding: 20px;
    text-align: justify;
}

.cantidad{
    width: 1%;
}

.imagen{
    width: 1%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    background-color: rgb(26, 24, 24);
    margin: auto;
    height: 50px;
    text-align: center;
    color: white;
}